$font-family: 'Open Sans';
$font-family-cond: 'Open Sans Condensed';
$font-norm: normal 1em/120% $font-family;
$font-light: normal 300 1em/120% $font-family-cond;
$font-bold: normal 700 1em/120% $font-family;

$title-light: 300 75px/100% $font-family-cond;
$title-bold: 700 75px/100% $font-family-cond;

$theme-blocks-1 : #E3EAEF;
$theme-blocks-text : #252525;
