$color-primary-0 : #BCCAD8; /* Main Primary color */
$color-primary-1 : #FCFCFD; /* lightest */
$color-primary-2 : #E3EAEF; /* light-med */
$color-primary-3 : #8CA2B8; /* dark-med */
$color-primary-4 : #5D7A97; /* darkest */

$color-secondary-1-0 : #C4C3DD; /* Main Secondary color (1) */
$color-secondary-1-1 : #FCFCFD;
$color-secondary-1-2 : #E7E6F2;
$color-secondary-1-3 : #9997C1;
$color-secondary-1-4 : #6C68A2;

$color-secondary-2-0 : #BCDAD0; /* Main Secondary color (2) */
$color-secondary-2-1 : #FCFDFD;
$color-secondary-2-2 : #E3F0EC;
$color-secondary-2-3 : #8BBCAB;
$color-secondary-2-4 : #5B9C85;

$color-complement-0 : #FFF0DB;  /* Main Complement color */
$color-complement-1 : #FFFEFD;
$color-complement-2 : #FFF9F1;
$color-complement-3 : #FFE4BD;
$color-complement-4 : #E8C188;
